build/
dist/
out/
node_modules/
.env
*.map
*.out.txt
*.bat

# Local development and debugging
.scratch/
**/.vscode/*
**/tsconfig.debug.json
!**/.vscode/launch.json
!**/.vscode/settings.json
!**/.vscode/tasks.json
**/build.bat

