<footer class="container mt-auto d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <ul class="nav border-bottom mx-auto ml-md-0">
        <li class="nav-item nav-item mx-1">
            <a class="nav-link text-body-secondary" target="_blank" href="https://microsoft.github.io/">© Microsoft</span>
        </li>
        <li class="nav-item mx-1">
            <a class="nav-link text-body-secondary" target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy</a>
        </li>
        <li class="nav-item mx-1">
            <a class="nav-link text-body-secondary" target="_blank" href="https://go.microsoft.com/fwlink/?LinkID=20697">Terms of Use</a>
        </li>
    </ul>

    <ul class="nav border-bottom mx-auto mr-md-0">
        <li class="nav-item">
            <a class="nav-link text-body-secondary" href="https://twitter.com/typechat">
                Twitter
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-body-secondary" href="https://bsky.app/profile/typechat.bsky.social">
                Bluesky
            </a>
        </li>
    </ul>
</footer>
